<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <title>Train Model</title>
    <link rel=" icon" href="{{ url_for('static', filename='img/pechai-nobg.png') }}">
    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

        body {
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
        }

        .fw-bold {
            font-weight: 600 !important;
        }

        /* .progress .jkoop-progress-bar-indeterminate.progress-bar-animated {
            animation: indeterminate 2s linear infinite alternate, progress-bar-stripes 1s linear infinite;
            width: 25% !important;
        }

        .progress .jkoop-progress-bar-indeterminate {
            animation: indeterminate 2s linear infinite alternate;
            width: 25% !important;
        }

        @keyframes indeterminate {
            0% {
                margin-left: 0;
            }

            100% {
                margin-left: 75%;
            }
        } */


        .round_md {
            border-radius: 20px;
        }

        .btn-primary {
            background-color: #176e43;
            border-color: #176e43;
            font-weight: 600;
        }

        .bg-primary {
            background-color: #176e43 !important;

        }

        .btn-primary:hover {
            background-color: #125232;
            border-color: #125232;
        }

        .btn-primary:focus {
            background-color: #125232;
            border-color: #125232;
        }

        .white-f5 {
            background-color: #f5f5f5;
        }






        .progress-bar {
            border-radius: 10px;
            height: 10px;
            background-color: rgba(23, 110, 67, 0.2);
            width: 100%;
            overflow: hidden;
        }

        .progress-bar-value {
            border-radius: 10px;
            width: 100%;
            height: 100%;
            background-color: rgb(44, 163, 104);
            animation: indeterminateAnimation 1s infinite linear;
            transform-origin: 0% 50%;
        }

        @keyframes indeterminateAnimation {
            0% {
                transform: translateX(0) scaleX(0);
            }

            40% {
                transform: translateX(0) scaleX(0.4);
            }

            100% {
                transform: translateX(100%) scaleX(0.5);
            }
        }




        .border-dash {
            border-width: 2px;
            border-style: dashed;
            border-color: #c4c4c4;
        }

        .transluscent-4 {
            background: rgba(0, 0, 0, 0.4);

        }


        .image-overlay {
            position: relative;
            width: 100%;
            height: 100%;
            /* Adjust the height as needed */
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .overlay {
            position: absolute;

            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            /* Adjust the text color */

        }

        .border-success {
            border-width: 3px !important;
        }
    </style>
</head>

<body class="small" style="background-color: #fff;">




    <!-- Button trigger modal


     Modal -->
    <!-- <nav class="navbar navbar-expand-md navbar-light fw-bold sticky-top white-f5   " id="nav">
        <div class="container  justify-content-center ">
            <a href="#" class="navbar-brand ps-3 pe-3  ">
                <div class="d-flex align-items-end">

                    <h3 class=" mb-sm-1 " style="font-weight:600;"> <span style="color:#176e43;">Pech</span><span
                            style="color:#26a83d;">AI</span> <span style="color:#56b263;">Model</span></h3>

                </div>

            </a>




        </div>
    </nav> -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary  sticky-top  sticky-top" id="nav">
        <div class="container-fluid">
            <a href="#" class="navbar-brand ps-3 pe-3  ">
                <div class="d-flex align-items-end">

                    <h3 class=" mb-sm-1 " style="font-weight:600;"> <span style="color:#176e43;">Pech</span><span
                            style="color:#26a83d;">AI</span> <span style="color:#56b263;">Model</span></h3>

                </div>

            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list"></i>
            </button>
         <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <div class="d-flex  gap-3 align-items-center mb-sm-3 mb-1   justify-content-center">
                        <a onclick="onTrain()" class="nav-link text-success border-bottom  border-success "
                            id="onTrain">
                            <i class="bi bi-motherboard "></i>&nbsp; Train
                        </a>

                        <a onclick="onTest()" class="nav-link text-dark  border-success   text-dark" id="onTest">
                            <i class="bi bi-ui-checks "></i></i>&nbsp;Test</a>

                    </div>
                    <a href="#" class="navbar-brand ps-3 pe-3  invisible" style="height: 0px;">
                        <div class="d-flex align-items-end" style="height: 0px;">

                            <h3 class=" mb-sm-1 " style="font-weight:600;" style="height: 0px;"> <span
                                    style="color:#176e43;">Pech</span><span style="color:#26a83d;">AI</span> <span
                                    style="color:#56b263;">Model</span></h3>

                        </div>

                    </a>
                </div>
            </div>
        </div>
    </nav>
    <nav id="bottomNavbar" class="navbar navbar-expand-md navbar-light fw-bold fixed-bottom m-0 p-0 bg-transparent" style="display: none;">
        <div class="container-fluid justify-content-center">
            <div class="d-flex bg-white border shadow-sm round_md align-items-center mb-sm-3 mb-1 small justify-content-center ps-sm-3 pe-sm-3">
                <a onclick="onTrain()" class="nav-link text-success border-bottom border-success" id="onTrainEmbed">
                    <i class="bi bi-motherboard"></i>&nbsp; Train
                </a>
                <a onclick="onTest()" class="nav-link text-dark border-success text-dark" id="onTestEmbed">
                    <i class="bi bi-ui-checks"></i>&nbsp; Test
                </a>
            </div>
        </div>
    </nav>
    

    

    <div class="container ">
        <div class="row justify-content-center ">
            <!-- <div class="btn-group col-sm-4 m-2">
                <button onclick="onTrain(this)" class="btn btn-primary" id="onTrain">Train</button>
                <button onclick="onTest(this)" class="btn border" id="onTest">Test</button>

            </div> -->

            <div class="">
                <center>
                    <div class="row  justify-content-center  align-items-center collapse show" id="LoginLayout"
                        style="height: 90vh">
                        <div class="col-md-4 collapse show">
                            <div class="row text-start align-items-center mb-1">
                                <div class="col-7">
                                    <h2 class="text-truncate fw-bold  ">Log In </h2>
                                </div>



                            </div>
                            <div class=" text-start  p-4 shadow-sm border round_md  bg-white">

                                <form id="loginForm">
                                    <input type="text" id="username"
                                        class="border rounded-pill form-control white-f5 mb-3" name="username"
                                        placeholder="username">
                                    <input type="password" id="password"
                                        class="border rounded-pill form-control white-f5 mb-3" name="password"
                                        placeholder="password">
                                    <center>
                                        <input type="submit" id="submitLogin" class="btn btn-primary w-75 rounded-pill" value="Login">
                                    </center>
                                </form>



                            </div>
                        </div>
                    </div>
                    <div class=" collapse " id="trainTestContainer">
                        <div class=" " id="trainContainer">
                            <div class="row  justify-content-center  align-items-center " style="height: 90vh">
                                <div class="row align-items-center gap-2 justify-content-center   ">

                                    <div class="col-md-4 " id="TrainLayout">
                                        <div class="row text-start align-items-center mb-1">
                                            <div class="col-7">
                                                <h2 class="text-truncate fw-bold  ">Train Model</h2>
                                            </div>

                                            <div class="col-5 text-end">
                                                <form action="/upload" class="" method="POST">

                                                    <button
                                                        class=" btn  rounded-pill bg-primary text-white  ps-3 pe-3 pt-0 pb-0 m-0"
                                                        type="submit" id="saveBtn"><small>save</small>

                                                    </button>

                                                </form>
                                            </div>

                                        </div>
                                        <div class=" text-start  p-4 shadow-sm border round_md  bg-white">



                                            <form id="trainForm" action="/train_model" method="POST">



                                                <input type="text"
                                                    class="border rounded-pill form-control white-f5 mb-3 " id="apiKey"
                                                    name="apiKey" placeholder="api key..." required />
                                                <center>
                                                    <button class="btn btn-primary w-75 rounded-pill " id="trainBtn"
                                                        type="submit">Train</button>
                                                </center>

                                            </form>
                                            <div id="statusContainer" class="small  text-center " style="display:none">
                                                <span id="status"></span><span id="loadingText"></span>
                                            </div>


                                            <div class="progressContainer " style="display:none">
                                                <div class="d-flex w-100 align-items-center " id="progressInner">
                                                    <div class="container-fluid w-100 m-0 p-0">
                                                        <div class="progress-bar " style="margin-bottom:-10px;">
                                                            <div class="progress-bar-value"></div>
                                                        </div>
                                                        <div class="progress w-100" style="height: 10px;">
                                                            <div class="progress-bar bg-primary" role="progressbar"
                                                                id="myProgressBar" style="width: 0%;" aria-valuenow="25"
                                                                aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <center>
                                                    <form id="restartForm" action="/restart" method="post">
                                                        <button type="submit"
                                                            class="small w-75 rounded-pill btn   mt-4    btn-secondary  text-light ">
                                                            stop

                                                        </button>
                                                    </form>
                                                </center>
                                            </div>


                                        </div>
                                    </div>

                                    <div id="trainResult" class="collapse col-md-7 text-start ">

                                        <div class="row text-start align-items-center mb-1 mt-2">
                                            <h4 class="text-truncate fw-bold  ">Train Result</h4>
                                        </div>
                                        <div class=" text-start  p-4 shadow-sm border  round_md d-flex flex-column align-items-center bg-white  "
                                            style="max-height: 70vh">
                                            <div id="trainResultInner">

                                            </div>
                                            <div class="overflow-auto w-100  row flex-column align-items-center"
                                                id="trainResultEpochInner">
                                            </div>

                                        </div>
                                        <!-- Your result will be displayed here -->
                                    </div>


                                </div>

                            </div>
                        </div>

                        <div class="" id="testContainer">

                            <center>
                                <div class=" ">
                                    <d class="row  justify-content-center  align-items-center  " style="height: 90vh;">
                                        <div class="row align-items-center gap-2  justify-content-center  ">
                                            <div class="col-md-4">
                                                <div class="row text-start align-items-center mb-1">

                                                    <h2 class="text-truncate fw-bold  ">Test Model</h2>




                                                </div>
                                                <div class=" text-start  p-4 shadow-sm border round_md  bg-white">
                                                    <form id="testForm" method="POST" class="mt-3" action="/test-result"
                                                        enctype="multipart/form-data">


                                                        <label for="imageInput" class=" round_md border-dash  p-1"
                                                            style="height:300px;width: 100%;">

                                                            <div class="image-overlay p-2 round_md">

                                                                <div class="overlay round_md ">

                                                                    <img class="round_md  border" id="selectedImage"
                                                                        style="object-fit: cover; object-position: 50%;height:300px;width: 100%;">
                                                                </div>
                                                                <div class="overlay transluscent-4  round_md ">
                                                                    <center>
                                                                        <div
                                                                            class="p-2 round_md text-white  text-center">
                                                                            <span class="fs-1 fw-bold"><i
                                                                                    class="bi bi-plus-lg"></i></span>
                                                                            <br>
                                                                            <span>Choose image</span>
                                                                        </div>
                                                                    </center>
                                                                </div>







                                                            </div>

                                                        </label>
                                                        <br>

                                                        <input type="file" class="form-control" name="image"
                                                            id="imageInput" accept="image/*" hidden>
                                                        <center>
                                                            <input class="btn btn-primary w-75 mt-3 rounded-pill"
                                                                type="submit" id="selectedImage" value="Predict">
                                                        </center>
                                                    </form>
                                                </div>
                                            </div>
                                            <div id="testResult" class=" col-md-7 text-start collapse">

                                                <div class="row text-start align-items-center mb-1 mt-2">
                                                    <h4 class="text-truncate fw-bold  ">Test Result</h4>
                                                </div>

                                                <div
                                                    class=" text-start  p-sm-5 p-4 shadow-sm border round_md  bg-white">
                                                    <div class="row  align-items-center">
                                                        <div class="col-sm-7">
                                                            <p class="fs-4 p-0  fw-bold disease-name"
                                                                style="margin-bottom: -5px;">
                                                            </p>
                                                            <span class="text-secondary small">Predicted Disease</span>
                                                        </div>
                                                        <div class="col-sm-5 p-2  d-flex gap-2 justify-content-center">
                                                            <button
                                                                class="btn btn-primary btn-english w-100 rounded-pill"
                                                                onclick="onEnglish()"> <span
                                                                    class="small">English</span></button>

                                                            <button
                                                                class="btn btn-secondary btn-cebuano w-100 rounded-pill"
                                                                onclick="onCebuano()"><span
                                                                    class="small">Cebuano</span></button>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <br>
                                                    <div class="english collapse overflow-auto show"
                                                        style="max-height: 60vh;">
                                                        <span class="fs-5">Information</span>
                                                        <div class="bg-light round_md p-3">
                                                            <p class="info"></p>
                                                        </div>
                                                        <br>
                                                        <span class="fs-5">Cause</span>
                                                        <div class="bg-light round_md p-3">
                                                            <p class="cause"></p>
                                                        </div>
                                                        <br>
                                                        <span class="fs-5">Recommendation</span>
                                                        <div class="bg-light round_md p-3">
                                                            <p class="rec"></p>
                                                        </div>

                                                    </div>
                                                    <div class="cebuano collapse overflow-auto "
                                                        style="max-height: 60vh;">
                                                        <span class="fs-5">Information</span>
                                                        <div class="bg-light round_md p-3">
                                                            <p class="info-ceb"></p>
                                                        </div>
                                                        <br>
                                                        <span class="fs-5">Cause</span>
                                                        <div class="bg-light round_md p-3">
                                                            <p class="cause-ceb"></p>
                                                        </div>
                                                        <br>
                                                        <span class="fs-5">Recommendation</span>
                                                        <div class="bg-light round_md p-3">
                                                            <p class="rec-ceb"></p>
                                                        </div>
                                                    </div>



                                                </div>

                                                <div class=" text-start collapse p-4 shadow-sm border round_md  bg-white"
                                                    id="testResultInner">


                                                </div>

                                            </div>
                                            <!-- Your result will be displayed here -->
                                        </div>

                                </div>

                        </div>
                    </div>
            </div>
            </center>
        </div>

    </div>
    </div>
    </div>


</body>


<script>

function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    }

    // Wait for the DOM to be ready
    document.addEventListener('DOMContentLoaded', function() {
        // Get username and password from URL parameters
        var username = getUrlParameter('username');
        var password = getUrlParameter('password');
        var token = getUrlParameter('token');


        // Check if both username and password parameters exist in the URL
        if (username && password) {
            // Set input field values
            document.getElementById('username').value = username;
            document.getElementById('password').value = password;
            document.getElementById('apiKey').value = token;


            // Submit the form
            document.getElementById('submitLogin').click();
            
        } else {
            console.log('Username and password parameters are missing in the URL.');
        }
    });
   function isEmbedEnabled() {
        var urlParams = new URLSearchParams(window.location.search);
        return urlParams.has('embed') && urlParams.get('embed') === 'true';
    }

    // Function to show or hide the bottom navbar based on URL parameter
    function toggleBottomNavbar() {
        var bottomNavbar = document.getElementById('bottomNavbar');
        var topNavbar = document.querySelector('#nav');

        if (isEmbedEnabled()) {
            bottomNavbar.style.display = 'block';
            topNavbar.classList.add('collapse');

        } else {
            bottomNavbar.style.display = 'none';
            topNavbar.classList.remove('collapse','show');

        }
    }

    // Initial check when the page loads
    window.onload = function() {
        toggleBottomNavbar();
    };


    function onEnglish() {
        document.querySelector('.english').classList.add('show');
        document.querySelector('.cebuano').classList.remove('show');

        document.querySelector('.btn-english').classList.remove('btn-secondary');
        document.querySelector('.btn-english').classList.add('btn-primary');

        document.querySelector('.btn-cebuano').classList.remove('btn-primary');
        document.querySelector('.btn-cebuano').classList.add('btn-secondary');


    }
    function onCebuano() {
        document.querySelector('.cebuano').classList.add('show');
        document.querySelector('.english').classList.remove('show');

        document.querySelector('.btn-cebuano').classList.remove('btn-secondary');
        document.querySelector('.btn-cebuano').classList.add('btn-primary');

        document.querySelector('.btn-english').classList.remove('btn-primary');
        document.querySelector('.btn-english').classList.add('btn-secondary');




    }
    document.getElementById('loginForm').addEventListener('submit', async function (event) {
        event.preventDefault();
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const trainTestContainer = document.getElementById('trainTestContainer');
        const loginlayout = document.getElementById('LoginLayout');
        try {
            const response = await fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username, password })
            });

            const responseData = await response.json();
            if (response.ok) {
                loginlayout.classList.remove('show');
                trainTestContainer.classList.add('show');
                // alert(responseData.message); // Success message
                // window.location.href = '/dashboard'; // Redirect to dashboard or success page
            } else {
                alert(responseData.error); // Display error message
            }
        } catch (error) {
            console.error('Error:', error);
            alert('An error occurred. Please try again.'); // Generic error message
        }
    });
    async function loginUser() {
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const trainlayout = document.getElementById('TrainLayout')
        const loginlayout = document.getElementById('LoginLayout')
        try {
            const response = await fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username, password })
            });

            const responseData = await response.json();
            if (response.ok) {

                loginlayout.classList.remove('show')
                trainlayout.classList.add('show')

                // alert(responseData.message); // Success message
                // window.location.href = '/dashboard'; // Redirect to dashboard or success page

            } else {
                alert(responseData.error); // Display error message
            }
        } catch (error) {
            console.error('Error:', error);
            alert('An error occurred. Please try again.'); // Generic error message
        }
    }
    function handleScroll() {
        var navbar = document.getElementById("nav");



        if (window.scrollY > 0) {
            navbar.classList.add("border-bottom");
            navbar.classList.add("bg-light");

        } else {
            navbar.classList.remove("bg-light");

            navbar.classList.remove("border-bottom");
        }
    }
    window.addEventListener("scroll", handleScroll);


    // window.onload = function () {
    //     fetch('/', {
    //         method: 'POST'
    //     });
    // };
    var trainResultContainer = document.getElementById('trainResult');
    var trainResultContainerInner = document.getElementById('trainResultInner');
    var trainResultEpochInner = document.getElementById('trainResultEpochInner');

    function fetchTrainingResults() {

        fetch('/results')
            .then(response => response.json())
            .then(data => {
                console.log(data.result.success);
                if (data.result.success == 'true') {






                    var con = document.createElement('div');
                    con.classList.add('container');
                    var row = document.createElement('div');
                    row.classList.add('row');

                    var col1 = document.createElement('div');
                    col1.classList.add('col-md-6');
                    var col2 = document.createElement('div');
                    col2.classList.add('col-md-6');




                    var accuracyGraph = document.createElement('img');
                    accuracyGraph.style.width = '100%';
                    accuracyGraph.src = `data:image/png;base64,${data.result.accuracyGraph}`;

                    var lossGraph = document.createElement('img');
                    lossGraph.style.width = '100%';
                    lossGraph.src = `data:image/png;base64,${data.result.lossGraph}`;

                    col1.appendChild(accuracyGraph);
                    col2.appendChild(lossGraph);


                    row.appendChild(col1);
                    row.appendChild(col2);
                    con.appendChild(row);
                    // Create a table element



                    var table = document.createElement('table');
                    table.style.width = '100%';


                    table.classList.add('table', 'text-center', 'overflow-auto', 'small', 'table-borderless', 'p-4', 'round_md', 'bg-white');


                    // Create table headers
                    var tableHeader = document.createElement('thead');
                    var headerRow = document.createElement('tr');
                    var headerData = ["Epoch", "Loss", "Accuracy", "Val Loss", "Val Accuracy"];

                    for (var i = 0; i < headerData.length; i++) {
                        var th = document.createElement('th');
                        th.textContent = headerData[i];
                        headerRow.appendChild(th);
                    }

                    tableHeader.appendChild(headerRow);
                    table.appendChild(tableHeader);

                    // Create table body
                    var tableBody = document.createElement('tbody');

                    for (var i = 0; i < data.result.loss.length; i++) {
                        var epoch = i + 1;
                        var loss = data.result.loss[i].toFixed(4);
                        var accuracy = data.result.accuracy[i].toFixed(4);
                        var val_loss = data.result.val_loss[i].toFixed(4);
                        var val_accuracy = data.result.val_accuracy[i].toFixed(4);

                        var row = document.createElement('tr');
                        var epochCell = document.createElement('td');
                        epochCell.textContent = epoch;
                        var lossCell = document.createElement('td');
                        lossCell.textContent = loss;
                        var accuracyCell = document.createElement('td');
                        accuracyCell.textContent = accuracy;
                        var valLossCell = document.createElement('td');
                        valLossCell.textContent = val_loss;
                        var valAccuracyCell = document.createElement('td');
                        valAccuracyCell.textContent = val_accuracy;

                        row.appendChild(epochCell);
                        row.appendChild(lossCell);
                        row.appendChild(accuracyCell);
                        row.appendChild(valLossCell);
                        row.appendChild(valAccuracyCell);

                        tableBody.appendChild(row);
                    }

                    table.appendChild(tableBody);

                    // Append the table to the resultContainer
                    trainResultContainerInner.innerHTML = '';
                    trainResultEpochInner.innerHTML = '';

                    // trainResultContainer.appendChild(accuracyGraph);
                    trainResultContainerInner.appendChild(con);
                    trainResultEpochInner.appendChild(table);

                    trainResultContainer.classList.add('show');


                } else {

                    trainResultContainer.classList.remove('show');


                }


            })
            .catch(error => {

                console.error('Error fetching data:', error);
            });
    }
    fetchTrainingResults();

    // Set up periodic updates every second (1000 milliseconds)
    setInterval(fetchTrainingResults, 1000);


    function fetchRunningStatus() {
        fetch('/running_status')
            .then(response => response.text())
            .then(data => {
                console.log(data)
                if (data.includes("Error")) {

                    const progressContainer = document.querySelector('.progressContainer');
                    progressContainer.style.display = 'block';
                    const progressInner = document.getElementById('progressInner');
                    progressInner.classList.add('d-none');

                } else if (data === "Running") {
                    const statusContainer = document.querySelector('#statusContainer');
                    statusContainer.style.display = 'block';


                    const trainBtn = document.getElementById('trainForm');
                    trainBtn.style.display = 'none';

                    const progressContainer = document.querySelector('.progressContainer');
                    progressContainer.style.display = 'block';
                } else if (data === "Stopping") {
                    // history.go();
                    // document.location.reload();
                    window.location.reload(true);
                }


            })
            .catch(error => {

                console.error('Error fetching data:', error);
            });
    }
    fetchRunningStatus();

    // Set up periodic updates every second (1000 milliseconds)
    setInterval(fetchRunningStatus, 1000);


    function fetchDataAndUpdate() {
        fetch('/status')
            .then(response => response.text())
            .then(data => {
                document.getElementById('status').textContent = data; // Add three dots
                const percentageRegex = /(\d+)%/; // Match one or more digits followed by %
                const progressBar = document.getElementById('myProgressBar');
                const progressBarValue = document.querySelector('.progress-bar');


                const match = data.match(percentageRegex);

                if (match) {
                    const percentageValue = parseInt(match[1]); // Extract the matched numeric value and convert it to an integer

                    progressBar.style.width = percentageValue + '%';
                    progressBarValue.style.width = percentageValue + '%';

                    if (percentageValue == 100) {



                        const trainBtn = document.getElementById('trainForm');


                        const progressContainer = document.querySelector('.progressContainer');


                        progressContainer.style.display = 'none';
                        trainBtn.style.display = 'block';
                        const statusContainer = document.querySelector('#statusContainer');
                        statusContainer.style.display = 'none';
                        progressBarValue.style.width = 0 + '%';
                        progressBar.style.width = 0 + '%';
                    }

                } else {
                    console.log("Percentage not found in the string.");
                }
            })
            .catch(error => {

                console.error('Error fetching data:', error);
            });
    }


    const loadingText = document.getElementById("loadingText");
    var dots = 0;


    function animateText() {
        dots = (dots + 1) % 4;
        loadingText.textContent = ".".repeat(dots);
    }
    fetchDataAndUpdate();

    // Set up periodic updates every second (1000 milliseconds)
    const status = setInterval(fetchDataAndUpdate, 1000);

    // Set up periodic animation every 500 milliseconds

    const animationInterval = setInterval(animateText, 1000); // Faster dot animation


    document.querySelector('#restartForm').addEventListener('submit', function () {
        event.preventDefault();

        document.getElementById('status').textContent = "Stopping"
        fetch('/restart', { method: 'POST' })
            .then(response => response.text())
            .then(data => {
                console.log(data)
                // clearInterval(status);
            });


    });


    // Function to toggle between train and test views
    function toggleView(view) {
        const trainC = document.getElementById("trainContainer");
        const testC = document.getElementById("testContainer");
        const trainCbtn = document.getElementById("onTrain");
        const testCbtn = document.getElementById("onTest");
        const trainCbtnEmbed = document.getElementById("onTrainEmbed");
        const testCbtnEmbed = document.getElementById("onTestEmbed");
        if (view === "train") {
            trainC.style.display = "block";
            testC.style.display = "none";

            trainCbtn.classList.add("border-bottom", "text-success");
            trainCbtn.classList.remove("text-dark");
            trainCbtnEmbed.classList.add("border-bottom", "text-success");
            trainCbtnEmbed.classList.remove("text-dark");

            testCbtn.classList.remove("border-bottom", "text-success");
            testCbtn.classList.add("text-dark");
            testCbtnEmbed.classList.remove("border-bottom", "text-success");
            testCbtnEmbed.classList.add("text-dark");
            // Change the URL to include the train fragment
            window.history.replaceState(null, "", "#train");

        } else if (view === "test") {
            testC.style.display = "block";
            trainC.style.display = "none";

            testCbtn.classList.add("border-bottom", "text-success");
            testCbtn.classList.remove("text-dark");
            testCbtnEmbed.classList.add("border-bottom", "text-success");
            testCbtnEmbed.classList.remove("text-dark");

            trainCbtn.classList.remove("border-bottom", "text-success");
            trainCbtn.classList.add("text-dark");
            trainCbtnEmbed.classList.remove("border-bottom", "text-success");
            trainCbtnEmbed.classList.add("text-dark");

            // Change the URL to include the test fragment
            window.history.replaceState(null, "", "#test");
        }

        // Save the current view to local storage
        localStorage.setItem("currentView", view);
    }

    // Function to restore view based on URL fragment or local storage
    function restoreView() {
        const fragment = window.location.hash; // Get the URL fragment
        let view;

        if (fragment === "#train") {
            view = "train";
        } else if (fragment === "#test") {
            view = "test";
        } else {
            // If no fragment, default to the last saved view or "train"
            view = localStorage.getItem("currentView") || "train";
        }

        toggleView(view); // Set the view based on the URL fragment
    }

    // Event handlers for the buttons
    function onTrain() {
        toggleView("train");
    }

    function onTest() {
        toggleView("test");
    }

    // Set the correct view when the page loads
    document.addEventListener("DOMContentLoaded", restoreView);

    // Call restoreView on page load
    document.addEventListener("DOMContentLoaded", restoreView);
    const imageInput = document.getElementById('imageInput');
    const selectedImage = document.getElementById('selectedImage');
    selectedImage.style.display = 'none';
    imageInput.addEventListener('change', function () {
        const file = imageInput.files[0];
        if (file) {
            const imageUrl = URL.createObjectURL(file);
            selectedImage.style.display = 'block'
            selectedImage.src = imageUrl;
        } else {
            selectedImage.style.display = 'none'
            selectedImage.src = '';
        }
    });

    var apikey = document.getElementById('apikey');
    var trainEpoch = document.getElementById('trainEpoch');
    var trainBatch = document.getElementById('trainBatch');




    // apikey.value = localStorage.getItem('apikey');
    // trainEpoch.value = localStorage.getItem('trainEpoch');
    // trainBatch.value = localStorage.getItem('trainBatch');

    document.querySelector('#trainForm').addEventListener('submit', function () {

        event.preventDefault();


        const statusContainer = document.querySelector('#statusContainer');
        statusContainer.style.display = 'block';


        const trainBtn = document.getElementById('trainForm');
        trainBtn.style.display = 'none';

        const progressContainer = document.querySelector('.progressContainer');


        progressContainer.style.display = 'block';



        var formData = new FormData(this);
        fetch('/train_model', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                // Update the image sources with the received data
                //  if (data.result.success == 'true') {
                // loadingText.style.display = 'none';

                // progressContainer.style.display = 'none';
                // trainBtn.style.display = 'block';

                const trainBtn = document.getElementById('trainForm');


                const progressContainer = document.querySelector('.progressContainer');


                progressContainer.style.display = 'none';
                trainBtn.style.display = 'block';
                const statusContainer = document.querySelector('#statusContainer');
                statusContainer.style.display = 'none';
                progressBarValue.style.width = 0 + '%';
                progressBar.style.width = 0 + '%';

                //     var con = document.createElement('div');
                //     con.classList.add('container');
                //     var row = document.createElement('div');
                //     row.classList.add('row');

                //     var col1 = document.createElement('div');
                //     col1.classList.add('col-md-6');
                //     var col2 = document.createElement('div');
                //     col2.classList.add('col-md-6');




                //     var accuracyGraph = document.createElement('img');
                //     accuracyGraph.style.width = '100%';
                //     accuracyGraph.src = `data:image/png;base64,${data.result.accuracyGraph}`;

                //     var lossGraph = document.createElement('img');
                //     lossGraph.style.width = '100%';
                //     lossGraph.src = `data:image/png;base64,${data.result.lossGraph}`;

                //     col1.appendChild(accuracyGraph);
                //     col2.appendChild(lossGraph);


                //     row.appendChild(col1);
                //     row.appendChild(col2);
                //     con.appendChild(row);
                //     // Create a table element
                //     var table = document.createElement('table');
                //     table.style.width = '90%';
                //     table.classList.add('table', 'table-bordered', 'rounded', 'm-3', 'p-4', 'rounded', 'bg-white');


                //     // Create table headers
                //     var tableHeader = document.createElement('thead');
                //     var headerRow = document.createElement('tr');
                //     var headerData = ["Epoch", "Loss", "Accuracy", "Val Loss", "Val Accuracy"];

                //     for (var i = 0; i < headerData.length; i++) {
                //         var th = document.createElement('th');
                //         th.textContent = headerData[i];
                //         headerRow.appendChild(th);
                //     }

                //     tableHeader.appendChild(headerRow);
                //     table.appendChild(tableHeader);

                //     // Create table body
                //     var tableBody = document.createElement('tbody');

                //     for (var i = 0; i < data.result.loss.length; i++) {
                //         var epoch = i + 1;
                //         var loss = data.result.loss[i].toFixed(4);
                //         var accuracy = data.result.accuracy[i].toFixed(4);
                //         var val_loss = data.result.val_loss[i].toFixed(4);
                //         var val_accuracy = data.result.val_accuracy[i].toFixed(4);

                //         var row = document.createElement('tr');
                //         var epochCell = document.createElement('td');
                //         epochCell.textContent = epoch;
                //         var lossCell = document.createElement('td');
                //         lossCell.textContent = loss;
                //         var accuracyCell = document.createElement('td');
                //         accuracyCell.textContent = accuracy;
                //         var valLossCell = document.createElement('td');
                //         valLossCell.textContent = val_loss;
                //         var valAccuracyCell = document.createElement('td');
                //         valAccuracyCell.textContent = val_accuracy;

                //         row.appendChild(epochCell);
                //         row.appendChild(lossCell);
                //         row.appendChild(accuracyCell);
                //         row.appendChild(valLossCell);
                //         row.appendChild(valAccuracyCell);

                //         tableBody.appendChild(row);
                //     }

                //     table.appendChild(tableBody);

                //     // Append the table to the resultContainer
                //     trainResultContainerInner.innerHTML = '';
                //     // trainResultContainer.appendChild(accuracyGraph);
                //     trainResultContainerInner.appendChild(con);
                //     trainResultContainerInner.appendChild(table);
                //     trainResultContainer.classList.add('show');


                // } else {
                //     progressContainer.style.display = 'block';
                //     // trainBtn.style.display = 'block';


                //     progressInner.style.display = 'none';
                // }

            })
            .catch(error => {

                console.error('Error:', error);


            });
    });




    const testResultContainer = document.getElementById('testResult');
    const testResultContainerInner = document.getElementById('testResultInner');


    document.querySelector('#testForm').addEventListener('submit', function (event) {
        event.preventDefault();

        var formData = new FormData(this);

        fetch('/test-result', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {

                disease_name = document.querySelector('.disease-name');

                info = document.querySelector('.info');
                cause = document.querySelector('.cause');
                rec = document.querySelector('.rec');

                info_ceb = document.querySelector('.info-ceb');
                cause_ceb = document.querySelector('.cause-ceb');
                rec_ceb = document.querySelector('.rec-ceb');

                if (data.result.predicted_disease == "Invalid") {
                    label1.textContent = "Invalid";
                } else {
                    disease_name.textContent = data.result.predicted_disease;
                    
                    info.textContent = data.result.information;
                    cause.textContent = data.result.causes;
                    rec.textContent = data.result.recommendation;

                    info_ceb.textContent = data.result.information_ceb;
                    cause_ceb.textContent = data.result.causes_ceb;
                    rec_ceb.textContent = data.result.recommendation_ceb;

                }




                // var table = document.createElement('table');
                // table.classList.add('table');

                // // Create table rows for "Predicted Disease" and "Confidence"
                // var row1 = document.createElement('tr');
                // // var row2 = document.createElement('tr');

                // // Create table cells for the labels
                // var label1 = document.createElement('td');

                // // var label2 = document.createElement('td');


                // // Create table cells for the values
                // var value1 = document.createElement('td');

                // // var value2 = document.createElement('td');



                // // Check if the predicted disease is invalid or confidence is below 85%
                // console.log(data.result.confidence)
                // if (data.result.predicted_disease == "Invalid" /*|| data.result.confidence < 85*/) {
                //     label1.textContent = "Invalid";
                // } else {

                //     label1.textContent = "Predicted Disease:";
                //     // label2.textContent = "Confidence:";
                //     value1.textContent = data.result.predicted_disease;
                //     // value2.textContent = data.result.confidence.toFixed(2) + "%";
                // }

                // // Append the label and value cells to the rows
                // row1.appendChild(label1);
                // // row2.appendChild(label2);
                // row1.appendChild(value1);
                // // row2.appendChild(value2);

                // // Append the rows to the table
                // table.appendChild(row1);
                // // table.appendChild(row2);

                // // Target the "resultContainer" div by its id and append the table
                // testResultContainerInner.innerHTML = '';

                // testResultContainerInner.appendChild(table);
                testResultContainer.classList.add('show')
            })

            .catch(error => {

                console.error('Error:', error);
            });
    });
</script>

</html>